:root {
  --color-primary-dark-blue: #000066;
  --color-primary-medium-blue: #283296;
  --color-primary-action-blue: #08287f;
  --color-secondary-light-blue: #5096c8;
  --color-link-blue: #285ae1;
  --color-text-dark: #121212;
  --color-white: #ffffff;
  --gradient-hero: linear-gradient(180deg, #ffffff 0%, #f4f9ff 100%);
  --gradient-step: linear-gradient(180deg, #ffffff 0%, #dee7f4 100%);
  --gradient-features: linear-gradient(180deg, #ffffff 0%, #dee7f4 36.54%, #f0e6f5 69.71%, #d9e5f7 100%);
  --top-max-width: 375px;
  --screen-max-width: 1440px;
  --modal-max-width: 568px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: var(--color-white);
  color: var(--color-text-dark);
}

/* CSS for screen header */
.screen-header-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-items: center;
  justify-content: center;
}

.screen-header-content {
  width: 100%;
  background-image: url("../../assets/images/screen-header-bg.png");
  background-size: cover;
  display: flex;
}

.screen-header__img {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.screen-header__img img {
  position: relative;
  width: 109px;
  height: 216px;
  top: 6px;
  left: -9px;
}

.screen-header-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283296;
  margin: 0;
  white-space: pre-line;
}

/* CSS for screen content */
.screen-container {
  max-width: var(--screen-max-width);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: auto;
}

.screen-content-container {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-bottom: 68px;

}

.screen-content {
  width: 100%;
  background-color: #F9FCFF;
  padding: 16px 20px 0 20px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-link-blue);
}

.underline {
  text-decoration: underline;
}

.btn-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  border-radius: 9999px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  padding: 19px 14px;
}

.btn-primary {
  background-color: var(--color-primary-action-blue);
  color: var(--color-white);
  border: none;
}

.btn-secondary {
  background-color: var(--color-white);
  color: var(--color-primary-action-blue);
  border: 1px solid var(--color-primary-action-blue);
}

.btn {
  border: none;
  border-radius: 6px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  cursor: pointer;
  color: #ffffff;
}

.btn-back {
  background-color: #2f2f8d;
  width: 87px;
  flex-shrink: 0;
  letter-spacing: 0.02em;
}

.btn-next {
  background: linear-gradient(358deg, #4d8af8 6.77%, #6eaeff 123.12%);
  flex-grow: 1;
  font-weight: 600;
  letter-spacing: 0.02em;
}

/* CSS for screen footer */
.screen-footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 68px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
}

.screen-footer-content {
  width: 100%;
  max-width: var(--screen-max-width);
  display: flex;
  gap: 12px;
  padding: 12px 16px;
}

.color-white {
  color: #FFFFFF;
}

.color-blue {
  color: #285AE1;
}

.bg-primary-blue {
  background-color: #283296;
}

.bg-blue {
  background-color: #285AE1;
}

.bg-light-gray {
  background-color: #F3F3F3;
}

.br-4 {
  border-radius: 4px;
}

.br-12 {
  border-radius: 12px;
}

.number {
  font-family: 'Roboto';
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-32 {
  font-size: 32px;
}

.mb-12 {
  margin-bottom: 12px;
}