.screen-content-container {
    flex-direction: column;
    padding: 0;
}

.screen-header-container {
    max-width: 1248px;
    height: 64px;
    margin: auto;
}

.screen-header-container a img {
    margin-top: 2px;
}

.screen-header-content {
    background-image: none;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.screen-header-title {
    margin-left: -350px;
}

.download {
    background-color: #FFFFFF;
    padding: 4px 12px;
    gap: 4px;
    color: #08287F;
    border-radius: 9999px;
}

.red {
    background-color: #E6002D;
    padding: 4px 12px;
    gap: 4px;
    color: #FFFFFF;
    border-radius: 9999px;
}

.pointer:hover {
    cursor: pointer;
}

.chart-container {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    padding: 24px 0px;
}

.chart {
    width: 100%;
    min-height: 35vh;
}

.chart-data {
    background-color: #F3F3F3;
    border-radius: 12px;
}

.chart-icon {
    width: 12px;
    height: 8px;
    border-radius: 2px;
}

.blue {
    background-color: #285AE1;
}

.green {
    background-color: #329664;
}

.progress-bar-wrapper {
    width: 100%;
    height: 10px;
    border: 1px solid #CCCCCC;
}

.progress-bar-fill {
    height: 10px;
    width: 85%;
    transition: width 0.3s;
}

#assetModal .modal-body {
    padding: 24px 16px;
}

.asset-modal-title {
    color: #285AE1;
    font-size: 24px;
    font-weight: 700;
}

.control {
    width: 100%;
    border: 1px solid #B0B0B0;
    padding: 8px 12px;
    border-radius: 8px;
}

.note {
    font-size: 12px;
}

.user div {
    background-color: #EDF4F9;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-right: 12px;
    background-color: #7EB1D6;
}

.simulation-container {
    padding: 24px 0px;
}

.data-simulation-box {
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.box-left {
    background-color: #EAF3F4;
    width: 22%;
}

.btn-white {
    padding: 8px;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #08287F;
    color: #08287F;
    font-weight: 500;
}

.btn-secondary {
    padding: 12px 20px;
    border-radius: 9999px;
    width: 100%;
    max-width: 456px;
}

.btn-top {
    max-width: 456px;
}

.finance-box {
    flex: 1;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #D5D7D8;
}

.finance-title {
    padding: 14px 20px;
    color: #FFFFFF;
}

.finance-content {
    padding: 24px 20px;
}

.check {
    margin-top: 3px;
    width: 16px;
    height: 16px;
    padding: 2px;
    border-radius: 9999px;
    background-color: #88C0F4;
}

.finance-right-arrow {
    width: 16px;
    height: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #08287F;
    border-radius: 50%;
}

.action-container {
    background-color: #F0F4FF;
}

.action-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
    max-width: 365px;
}

.action-box-1 {
    height: 275px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    background: url(../../assets/images/action-1.jpg) no-repeat top;
    background-size: 492px 328px;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.20);
}

.action-box-2 {
    height: 275px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    background-color: #CADFEF;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.20);
}

.action-content-1 {
    margin-top: 65px;
    margin-left: 190px;
    width: 112px;
    height: 87px;
    color: #283296;
    font-weight: 500;
}

.action-footer {
    color: #FFFFFF;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 8px 16px;
    display: flex;
    gap: 75px;
    justify-content: end;
}

.action-footer-1 {
    background-color: #283296;
}

.action-footer-2 {
    background-color: #7EB1D6;
}

.description {
    border-radius: 12px;
    padding: 20px 16px;
    background-color: #F3F3F3;
}

.m {
    display: none !important;
}

@media (max-width: 767px) {
    .screen-header-title {
        margin: 0;
    }

    .download {
        background-color: #FFFFFF;
        padding: 8px 17px;
        gap: 2px;
        color: #08287F;
        border-radius: 9999px;
    }

    .red {
        background-color: #285AE1;
        padding: 8px 9px;
        gap: 2px;
        color: #FFFFFF;
        border-radius: 9999px;
    }

    .box-left {
        width: 35%;
    }

    .hidden {
        display: none;
    }

    .chart {
        min-height: 35vh;
    }

    .m-flex-column {
        flex-direction: column;
    }

    .gap-5 {
        gap: 24px !important;
    }

    .py-4 {
        padding: 24px 16px !important;
    }

    .m {
        display: flex !important;
    }

    .p {
        display: none !important;
    }

    .screen-header-content {
        border-radius: unset;
    }

    .m-flex-column {
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    .m-flex-column {
        flex-direction: row;
    }

    .m {
        display: flex !important;
    }

    .p {
        display: none !important;
    }

    .screen-header-content {
        border-radius: unset;
    }

    .py-4 {
        padding: 24px 16px !important;
    }

    .gap-5 {
        gap: 40px !important;
    }
}